/* VARIABLES */

$yellow: #fbf250;
$bg-color:#000a28;
$borderSize: 7px;

/* MIXINS*/

@mixin center(){
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin hCenter(){
    position: relative;
    left:50%;
    transform: translate(-50%)
}

/*----------------------------------*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
    position: relative;
    
}

.contentBlock {
    width: 90vw;
    border: $borderSize solid $yellow;
    @include hCenter;
    top:30px;
}

header {
    height:20%;
    width:100%;
    position: relative;
    z-index: 15;
    
    .transparent{
        color:transparent;
        -webkit-text-stroke: 2px $yellow;
    }

    #topSection, #bottomSection {
        width: 100%;
        border-bottom: $borderSize solid $yellow;
        background-color: $bg-color;
        overflow-x: hidden;
        color: $yellow;
        display: flex;
        white-space: nowrap;

        h1, h2 {
            margin:0;
            margin-right:50px;
            display: inline-block;
        }
        
        h1{
            animation: rightmovement 20s linear infinite;
        }

        h2{
            animation: leftmovement 13s linear infinite;
        }
    }

    #topSection{
        height: 66%;
        font-size:2.5rem;
    }

    #bottomSection{
       height: 33%;
       font-size:2rem;
       display: flex;
    }
}

main{

    display:flex;
    flex-direction: column;

    .imgPart{
        position:relative;
        order: 2;

        img{
            position: absolute;
            bottom:0;
            max-width: 100%;
            max-height:90%;
            z-index: 5;
        }

        #backCircle, #frontCircle {
            background-color: $yellow;
            border-radius: 50%;
        }

        #backCircle{
            position: relative;
            bottom:0px;
            margin-left: 10%;
            
        }

        #frontCircle {
            position: absolute;
            width: 50px;
            height: 50px;
            left:70%;
            bottom: 30px;
            z-index: 10;
        }
    }

    .textPart {

        order:1;
        position: relative;

        .text{
            
            width:250px;
            @include hCenter;

            img{
                width:30px;
                color: $yellow;
            }
        }

        p {
            color: $yellow;
        }
    
        #mailLogo{
            width:10px;
        }
    }
}
/*-------------------- RESPONSIVE -------------------*/

@media screen and (min-width: 900px) {
    
    body {
        height:100vh;
    }
    header {
        height:30%;
        #topSection{
            font-size:4.5rem;
        }
    
        #bottomSection{
           font-size:3rem;
        }
    }
    .contentBlock{
        height: 90vh;
    }
    
    main{

        height:70%;
        flex-direction: row;

        .imgPart{
            order:1;
            width:50%;
            height:100%;
            
            #backCircle{
                max-width: 500px;
                max-height: 500px;
                position: relative;
                margin-left: 10%;
                top:30px;
                
            }
        }

        .textPart {
            order:2;
            width:50%;
            height:100%;

            .text{
                width:350px;
                @include center;
            }
        }
    }
}


/*-------------------- ANIMATION --------------------*/
@keyframes leftmovement {
    0% {transform: translateX( 0 )}
    100% { transform: translateX(-1345px)};
}

@keyframes rightmovement {
    0% { transform: translateX( -1005px )};
    100% { transform: translateX( 0% )};
}

